*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: blue;
}

#grid {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}

.game-menu{
    text-align: center;
}

.cell {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
}

.bg-red {
    background-color: green;
}

.bg-green{
    background-color: red;
}

.cell.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.cell.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cell.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.noClick {
   pointer-events: none;
}

.game-alert{
    background-color: rgba(0, 255, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-alert-message{
    font-size: 40px;
    padding: 20px;
    background-color: var(--accent-color);
}